<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/order/findoder" method="post">
查询:<input type="text" name="uname"><input type="submit" value="查询">
</form>
	<div class="main-style">
		<div class="right-style">
			<div
				style="width: 80%; text-align: center; height: 400px; margin: 70px auto; background-color: #333; opacity: 0.8; color: #fff; padding-top: 30px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);">
				<table style="width: 90%; margin: 20px auto" border="1px">
					<tr>
						<th hidden="hidden">借阅记录id</th>
						<th>姓名</th>
						<th>电话</th>
						<th>入住天数</th>
						<th>入住时间</th>
						<th>离开时间</th>
						<th>房间类型</th>
						<th>房间号</th>
						<th>押金</th>
						<th>操作</th>
					</tr>
					
						<tr th:each="">
							<td class="first w4 c" hidden="hidden">${borrowbookinfor.id}</td>
							<td class="w1 c">${borrowbookinfor.borrowid}</td>
							<td class="w1 c">${borrowbookinfor.bookname}</td>
							<td class="w1 c">${borrowbookinfor.author}</td>
							<td class="w1 c">${borrowbookinfor.press}</td>
							<td class="w1 c">${borrowbookinfor.numbers}</td>
							<td class="w1 c"><a
								href="borrow_returnBook?borrowBooksInfor.id=${borrowbookinfor.id}&borrowBooksInfor.bookname=${borrowbookinfor.bookname}"
								onclick="return confirm('确定还书吗？')">归还</a>
						</tr>
					
				</table>
				<div class="btnn"
					style="float: right; margin-top: 200px; margin-right: 100px; width: 200px; background-color: #B0C4DE; opacity: 0.5; color: white;">
					<button type="button"
						style="border: 0px; background-color: #B0C4DE; color: white; font-size: 20px;"
						onclick="returnAllBook()">全部归还</button>
				</div>
			</div>
			<div
				style="width: 80%; text-align: center; height: 100px; margin: 0px 280px; color: wirte">
				<div class="btnn">
					<button type="button"
						style="border: 0px; background-color: #008000; color: white; font-size: 20px;"
						onclick="addBooks()">新增图书</button>
				</div>
				<div class="btnn">
					<button type="button"
						style="border: 0px; background-color: #008000; color: white; font-size: 20px;"
						onclick="findBorrowInfor()">查阅借阅信息</button>
				</div>
				<div class="btnn">
					<button type="button"
						style="border: 0px; background-color: #008000; color: white; font-size: 20px;"
						onclick="findAllBooks()">所有图书</button>
				</div>
			</div>
		</div>

	</div>
	<div class="bottom-style"></div>
</body>
</html>